
.edit-task {
    /* Center the dialog */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #eeeeee;

    /* Override position to not interfere with flexbox */
    position: static;
    padding: 30px;
    width: 100%;

    .close-dialog{
        align-self: flex-end;

        color: #333333;

        opacity: 0.5;

        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

}


.field{
    width: 100%;
}

.todo {
    background-color: whitesmoke;
    border-color: lightgrey;
    padding: 6px;
    margin: 6px;
}

.control {
    width: 100%;
}

.input{
    color: black;
    background: whitesmoke;

    ::placeholder{
        color: black;
    }
}

.secA {
    width: 100%;
}

.secB {
    height: 100%;

    ::placeholder{
        color:#333 ;
    }
}

.dateInput{
    width: 50%;
}

.timeInput{
    width: 37%;
}

.categorySelect {
    width: 40%;
    background-color: whitesmoke;
    border-radius: 6px;
    border-color: lightgrey;
    height: 42px;
    justify-self: center;
    align-self: center;
}

.fixed-size-textarea{
    background-color: whitesmoke;
    border-color: lightgrey;
    padding: 6px;
    margin: 6px;

    resize: none;
    height: 60px;
    color: black;
}

::placeholder{
    color: black;
}

#submit-todo {
    width: 78%;
}

#content {
    height: 50%;
    padding: 12px;
}

.section .container {
    padding: 6px;
    border-radius: 6px;
    background: whitesmoke;

    max-width: 98%;
    height: 53vh;

    .columns{
        height: 100%;
        margin-top: 1px;
    }

    .column{
        max-height: 100%;
        overflow-y: scroll;
    }

}


